/*------------------HEADER SECTION */
.gray-line {
    height: 50px;
    border-right: 1px solid #767676;
}

.top-banner {
    height: 50px;
    background-color: var(--text-main);
    font-size: var(--font-size-base);
    font-weight: var(--font-regular);
    color: var(--white);
}

.top-nav {
    padding: 10px 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 100;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.2);
}

.banner-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.btn-alink:hover {
    color: var(--text-subcolor-3);
}

/*---------------------- Breadcrumber */

.breadcrumb-section {
    background-color: #f7f7f7;
    height: 245px;
}

.breadcrumb-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.breadcrumb {
    display: flex;
    gap: 6px;
    position: relative;
    z-index: 10;
    & li 
    {
        list-style: none;
    }
}

.active {
    color: var(--text-subcolor-3);

}


.breadcrumb-image {
    width: 100%;
    height: 100%;
    max-height: 245px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}


/*---------------------- HERO SECTION */
.hero {
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: -1;

}

.hero-header {
    display: flex;
    flex-direction: column;
    max-width: 535px;
    align-self: flex-start;
    color: var(--text-body);
    padding-top: 4rem;
    h1
{
    font-size: 70px;
    font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
}

}

.hero-text {
    line-height: 24px;
}

.btn-hero {
    align-self: flex-start;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--text-main);
    color: var(--text-subcolor-1);
    font-size: var(--font-size-base);
    font-weight: var(--font-semibold);
    border-radius: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn-hero:hover {
        color: var(--text-subcolor-3);
        box-shadow: 2px 2px 2px 2px rgb(242, 237, 220);
        transform: translate(-1px, -1px);
    }

/*---------------------- Our About Section */

.about-text {
    width: 650px;
    font-size: 14px;
    font-weight: var(--font-regular);
    line-height: 24px;
    grid-column: 1 / 2;
}

.about-header {
    padding: 5rem 0 1rem 0;
    color: var(--text-subcolor-3);
    font-size: var(--font-size-base);
    font-weight: var(--font-bold);
    grid-column: 1 / 2;
}

.about-subheader {
    font-size: 40px;
    font-weight: var(--font-semibold);
    color: var(--text-body);
    margin-bottom: 1.5rem;
    grid-column: 1 / 2;
}

.about-paragraph {
    padding-top: 1rem;
    font-size: 20px;
    line-height: 24px;
}

.about-paragraph2 {
    padding: 1rem 0;
    font-size: 14px;
    line-height: 24px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-height: 900px;
    padding-bottom: 7rem;
}

.about-callback {
    margin-top: -5rem;
    background-color: var(--white);
    z-index: 1;
    width: 470px;
    height: 572px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 2 / 3;
}

.callback-header {
    background-color: var(--text-main);
    font-size: 30px;
    font-weight: var(--font-bold);
    color: var(--text-subcolor-1);
    display: flex;
    align-items: center;
    padding: 0rem 0rem 0rem 2rem;
    width: 470px;
    height: 100px;
}

.callback-text {
    font-size: 14px;
    font-weight: var(--font-regular);
    color: var(--text-body);
    padding: 1rem 2rem 0rem 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 409px;
    height: 51px;
    border: 1px solid var(--gray-ebebeb);
    padding-left: 1rem;
    color: var(--gray-note1);
    font-family: var(--font-family);
    font-style: italic;
    &::placeholder

{
    color: var(--gray-note1);
}

}

.btn-callback {
    height: 52px;
    width: 410px;
    background-color: var(--text-subcolor-1);
    color: var(--text-main);
    font-size: 16px;
    font-weight: var(--font-bold);
    border-radius: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.callback-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
}

.input-select {
    font-style: normal;
    color: var(--text-body);
    padding-top: 14px;
}

/*---------------------- Our Services Section */


.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.services-header {
    color: var(--text-subcolor-3);
    font-size: var(--font-size-base);
    font-weight: var(--font-bold);
}

.services-subheader {
    font-size: 40px;
    font-weight: var(--font-bold);
    color: var(--text-body);
    margin-bottom: 1rem;
    width: 574px;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    margin-bottom: 1rem;
}

.services-list2 {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.service-card-header {
    padding: 1.5rem 0rem 1.5rem 1rem;
}

.service-item {
    background-color: var(--white);
    border: solid 1px #efefef;
    width: 370px;
    height: 423px;
    transition: all 0.3s ease;
}

    .service-item:hover {
        box-shadow: 10px 10px 5px 5px rgb(217, 195, 169);
        cursor: pointer;
        transform: translate(-10px, -10px);
    }

.service-text-wrapper {
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
    font-size: 14px;
}

/*---------------------- Our Clients  Section */

.clients-section {
    padding-top: 5rem;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center;
}

.clients-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.clients-subheader {
    font-size: 40px;
    font-weight: var(--font-semibold);
    color: var(--text-subcolor-3);
}

.clients-text {
    max-width: 700px;
    display: flex;
    text-align: center;
}

.btn-clients {
    width: 200px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.btn-client {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--text-main);
    color: var(--text-subcolor-1);
    font-size: var(--font-size-base);
    font-weight: var(--font-semibold);
    border-radius: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn-client:hover {
        color: var(--text-subcolor-3);
        box-shadow: 2px 2px 2px 2px rgb(242, 237, 220);
        transform: translate(-1px, -1px);
    }

.clients-image {
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

.clients-image-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}



/*---------------------- Our Story Section */
.story-section {
    height: 800px;
    background-color: var(--bg-main);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2rem;
    margin-bottom: 10rem;
}

.story-text {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-height: 900px;
}

.story-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    grid-row: 2 / 3;
    grid-column: 2 / 5;
}

.story-number {
    font-weight: var(--font-bold);
    font-size: 70px;
    color: var(--text-subcolor-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-description {
    font-weight: var(--font-regular);
    font-size: 14px;
    color: var(--white);
    line-height: 24px;
}

.story-number-box {
    max-width: 250px;
    text-align: center;
}

.story-header {
    font-weight: var(--font-bold);
    font-size: 14px;
    color: var(--text-subcolor-3);
}

.story-subheader {
    font-weight: var(--font-semibold);
    font-size: 40px;
    color: var(--white);
}

.story-dot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    grid-row: 1 / 6;
    grid-column: 1 / 5;
    padding-top: 8rem;
}

.story-video-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    grid-row: 3 / 6;
    grid-column: 3 / 4;
    padding-top: 4rem;
}
/*---------------------- Our Projects Section */

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

    .projects-list a {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
    }

.projects-logo {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.static-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(79, 89, 85, 0.6);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

    .static-text h6 {
        margin: 0;
        font-size: 1rem;
    }

    .static-text p {
        margin: 0;
        font-size: 0.85rem;
        opacity: 0.9;
    }

.hover-btn {
    position: absolute;
    bottom: -25%;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgba(79, 89, 85);
    color: white;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 1rem;
    transition: bottom 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

.hover-content {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: left;
    gap: 0.5rem;
    i

{
    font-size: 3rem;
}

h6 {
    font-size: 14px;
    font-weight: var(--font-bold);
    color: var(--text-subcolor-3);
    margin-bottom: 0.5rem;
}

p {
    font-size: 12px;
    font-weight: var(--font-semibold);
    color: var(--white);
}

}

.projects-list a:hover .hover-btn {
    bottom: 0;
    opacity: 1;
}

.projects-text {
    color: var(--text-subcolor-3);
    font-size: var(--font-size-base);
    font-weight: var(--font-bold);
}

.projects-container {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-header {
    font-size: 40px;
    font-weight: var(--font-semibold);
    color: var(--text-body);
    margin-bottom: 1.5rem;
}

/*---------------------- Partners Section */
.partners-section {
    padding: 4rem 0;
    background-color: var(--white);
}

.partners-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
}

.partner-logo {
    filter: grayscale(1);
    transition: filter 0.4s ease, transform 0.4s ease;
}

    .partner-logo:hover {
        filter: invert(84%) sepia(16%) saturate(303%) hue-rotate(340deg) brightness(98%) contrast(91%);
        transform: scale(1.1);
    }

/*---------------------- Footer Section */
.footer-box {
    background-color: var(--black);
    padding: 10px 0;
    font-size: var(--font-size-base);
    color: var(--text-main);
    height: 60px;
}

.text-footer2 {
    color: var(--text-subcolor-3);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
