<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5cb0f066-2571-4d79-81aa-8a2725b83ec2" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-message-open</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6a57bd4a-2370-4028-9826-fc4c2f198975">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="643baabd-9d34-4386-8917-f1a54c118df5">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a9f4872c-6196-41dc-ac63-0c06d85882bd" SortOrder="0">partnerDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>460cfe1f-29d6-4990-9ffc-bb62f12473de</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>b66a8254-c2fb-40a5-beda-97d2133c860a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1656e059-7af4-4c24-acee-7ee0edbd965a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>