<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="724fbd26-cf88-4208-a57d-a82bc9c4ba3b" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5db31165-6591-44de-ba1c-2c464c0287aa">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c6224ad1-6e97-40da-96e2-74b33d3bcd1c" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="91e09604-3ac7-4ac0-90fc-10312e6ac0b9" SortOrder="1">servicesPage</ContentType>
    <ContentType Key="5cb0f066-2571-4d79-81aa-8a2725b83ec2" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>532d9586-4b3a-43aa-bd8a-87d105b7ec0a</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>38731ff9-7589-49c4-91a7-b26e66b5e347</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>471d458d-3cd9-41f3-ae6b-5d5c1624dd41</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>