<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05e1801b-3e81-4601-9956-63bf664e6924" Alias="About Page" Level="1">
  <Info>
    <Name>About Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c0f048f6-8c78-4327-bee2-b1646971729d"
    },
    {
      "contentElementTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "settingsElementTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd"
    },
    {
      "contentElementTypeKey": "1b6a1aeb-d0f2-4403-83c4-c35ac4348624"
    },
    {
      "contentElementTypeKey": "c03ff3eb-c6dc-4ca0-9bee-07a24e722eaa"
    },
    {
      "contentElementTypeKey": "536f1ad2-9aa3-4362-b9d7-b7d42dd6f70f"
    }
  ]
}]]></Config>
</DataType>