<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bef6e43-576a-4d50-ad9c-85010116ece3" Alias="Card-IMG 6 amount" Level="1">
  <Info>
    <Name>Card-IMG 6 amount</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": true,
  "validationLimit": {
    "max": 6
  }
}]]></Config>
</DataType>