<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e24d7b0f-a361-431b-8ead-5ea2960b85c8" Alias="ContactInfo Section - contactAddresses - Block List Property Editor UI" Level="1">
  <Info>
    <Name>ContactInfo Section - contactAddresses - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d343b2dc-a75b-4ada-9437-595e9fcc5e5b"
    }
  ]
}]]></Config>
</DataType>