<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38731ff9-7589-49c4-91a7-b26e66b5e347" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc6dcf4f-3a88-4894-8cd9-b49f58080097"
    },
    {
      "contentElementTypeKey": "875c8e7f-72dd-4925-bc90-9d9d54eb0bc4",
      "settingsElementTypeKey": "54652b06-1109-49b6-858a-25ca258d0156"
    },
    {
      "contentElementTypeKey": "8ee5db4e-9917-46e6-8231-7b1cb9b3c99e"
    },
    {
      "contentElementTypeKey": "414c84f8-bdb7-406f-bf13-b94d46a1f8e1"
    },
    {
      "contentElementTypeKey": "7389e70f-dfaf-48a9-b713-1a3750a69855"
    },
    {
      "contentElementTypeKey": "c0f048f6-8c78-4327-bee2-b1646971729d"
    },
    {
      "contentElementTypeKey": "f66dcda2-fb27-4cd5-b513-da1fbf605fe7"
    }
  ]
}]]></Config>
</DataType>