<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf16915e-019b-4a3d-813e-2bc63f93253c" Alias="Partners Section - PartnerIcons - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Partners Section - PartnerIcons - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>