<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68f6aaa7-5ac2-47d0-8b7d-e0f8ad5cfdd2" Alias="Service Detail - DetailSection - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - DetailSection - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "settingsElementTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd"
    }
  ]
}]]></Config>
</DataType>