<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55b7a2b3-cfd2-4b4c-aaaf-32c0d97313b3" Alias="Service Detail - ServiceDetailAsides - List" Level="1">
  <Info>
    <Name>Service Detail - ServiceDetailAsides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8f54ade4-72a7-4e58-bd8f-ba1da83ef8d2"
    }
  ]
}]]></Config>
</DataType>