<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d091349-2e15-4192-9151-be8a5a06ce43" Alias="Services Page" Level="1">
  <Info>
    <Name>Services Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "875c8e7f-72dd-4925-bc90-9d9d54eb0bc4",
      "settingsElementTypeKey": "54652b06-1109-49b6-858a-25ca258d0156"
    },
    {
      "contentElementTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "settingsElementTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd"
    }
  ]
}]]></Config>
</DataType>