<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80a8c72a-366a-4696-a206-32f2eb709835" Alias="Story Section - NumberList" Level="1">
  <Info>
    <Name>Story Section - NumberList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dda7ac56-40ec-46a7-8cae-8c63cecc54ab"
    }
  ]
}]]></Config>
</DataType>