<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4213073f-2680-4330-b57a-45206b7d3300" Alias="Team Section - Team List" Level="1">
  <Info>
    <Name>Team Section - Team List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0348cc18-12f9-448b-86fe-fff9958a159d",
      "label": "{umbValue: teamName}"
    }
  ]
}]]></Config>
</DataType>