<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41581f05-3e30-4a1b-8ba6-549bca92f069" Alias="Textarea (1)" Level="1">
  <Info>
    <Name>Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>