<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21dfa015-f186-4db8-82bb-92f4fea64142" Alias="4 url picker" Level="1">
  <Info>
    <Name>4 url picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 4,
  "minNumber": 0
}]]></Config>
</DataType>