<?xml version="1.0" encoding="utf-8"?>
<Media Key="756411b2-4bd9-4432-a0d5-6cd62d56a45a" Alias="about-header-Img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutHeaderImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="about-header-Img.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/icwmnf4c/about-header-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>