<?xml version="1.0" encoding="utf-8"?>
<Media Key="61aff118-855d-4106-99ef-9936c25fa473" Alias="Assurance&amp;Audits.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Assurance&amp;Audits.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3jga1a0g/assuranceaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>