<?xml version="1.0" encoding="utf-8"?>
<Media Key="b86f4976-66e8-4200-9f99-76ba0a1b6f16" Alias="Bonds&amp;Commodities.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Bonds&amp;Commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qt0m0wxt/bondscommodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>