<?xml version="1.0" encoding="utf-8"?>
<Media Key="290cbb46-4f93-4eea-8b5d-e26ffe1dbb49" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wqdk3s2i/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>