<?xml version="1.0" encoding="utf-8"?>
<Media Key="283ea3dd-e777-45a5-a036-1236ad08e8ed" Alias="Clients.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Clientssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Clients.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f2pjzstm/clients.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>