<?xml version="1.0" encoding="utf-8"?>
<Media Key="475e5d2a-a031-4ed5-a34f-7aa664abf742" Alias="Contact-Guy.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactGuysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="Contact-Guy.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1dqpzjjk/contact-guy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>