<?xml version="1.0" encoding="utf-8"?>
<Media Key="e54b9957-386b-49cb-b40e-1ed1946b0665" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uusosb1q/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>