<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d3ca9f5-bc22-440c-ba1a-fc417c1b40b5" Alias="FinancialAdvisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="FinancialAdvisor.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2kj35zz/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>