<?xml version="1.0" encoding="utf-8"?>
<Media Key="036d53ae-0e95-4e89-8cb5-e6a154e7b21e" Alias="guy-on-computer.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/guyOnComputersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="guy-on-computer.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ltxm5ymo/guy-on-computer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>