<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c9a556c-d053-4fc0-b3fc-e28871d8ef8a" Alias="home-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homeImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="home-img.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t1udrxsi/home-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>