<?xml version="1.0" encoding="utf-8"?>
<Media Key="a42aeb35-6bc1-4dca-9f2c-bfddf82737f1" Alias="Icon phone.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="Icon phone.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y3liqrw0/icon-phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>