<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd420bc2-0965-46e6-b1c2-1474b960676f" Alias="Icon email.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:15</CreateDate>
    <NodeName Default="Icon email.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gc1oal14/icon-email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>