<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f33e1d0-e25c-4f0f-abfd-cbf08e4bc607" Alias="Icon address.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Icon address.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ejojd1kh/icon-address.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>