<?xml version="1.0" encoding="utf-8"?>
<Media Key="71f17fbc-424a-49d4-a352-d8ce405583e3" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j1bfhe0r/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>