<?xml version="1.0" encoding="utf-8"?>
<Media Key="222287eb-bea3-4ebd-b4f1-cfd515204ce2" Alias="map-gray.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapGraysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="map-gray.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/de3ibqfy/map-gray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>