<?xml version="1.0" encoding="utf-8"?>
<Media Key="62f3355b-6a12-4734-aff7-148fadd8e002" Alias="map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vgefdaaj/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>