<?xml version="1.0" encoding="utf-8"?>
<Media Key="b83ba6fb-592f-4bda-a750-9b89ec0357ae" Alias="meetingcrewdetail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meetingcrewdetailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:59:51</CreateDate>
    <NodeName Default="meetingcrewdetail.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/benjswru/meetingcrewdetail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>