<?xml version="1.0" encoding="utf-8"?>
<Media Key="86a27fb8-1699-478d-8529-c481a404ae1f" Alias="meetingcrewdetail2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meetingcrewdetail2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:04:39</CreateDate>
    <NodeName Default="meetingcrewdetail2.svg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jlbaazec/meetingcrewdetail2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>