<?xml version="1.0" encoding="utf-8"?>
<Media Key="122e6582-5f6d-4de8-a7cc-c561b6d10886" Alias="Partner-Simpleaf.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerSimpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:19</CreateDate>
    <NodeName Default="Partner-Simpleaf.svg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/odmiz2dw/partner-simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>