<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5bc1e4c-74a0-4c5b-94b4-42fa35363dc8" Alias="Partner-Freedombird.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerFreedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="Partner-Freedombird.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x0rb2n31/partner-freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>