<?xml version="1.0" encoding="utf-8"?>
<Media Key="e820bf97-a8e9-4752-a187-c9ed1e044359" Alias="Partner-Globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="Partner-Globe.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mubiecxs/partner-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>