<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf5e442f-daa6-49f7-87a4-c5c851848aff" Alias="Partner-Fossilgroup.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerFossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Partner-Fossilgroup.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1x2pyxn3/partner-fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>