<?xml version="1.0" encoding="utf-8"?>
<Media Key="2598b46e-49a1-42f9-bbce-8ee699320b40" Alias="Partner-Natural.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerNaturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="Partner-Natural.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tqedvr30/partner-natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>