<?xml version="1.0" encoding="utf-8"?>
<Media Key="7860f18a-1f9e-4f57-bd70-20b9d062721d" Alias="pj1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pbgmfguf/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>