<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eaf2de8-a84b-43e2-9f1a-f572256ac1f3" Alias="pj2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dkia1pcq/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>