<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b35c5fe-ebe9-4451-b602-5c0fdbba68d6" Alias="pj3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/br2jp4ps/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>