<?xml version="1.0" encoding="utf-8"?>
<Media Key="01fc5c4c-e262-483d-a82a-8a12827befdf" Alias="pj4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x1qf3y1z/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>