<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ddb0e64-3a5e-4209-9c48-c89e6eb859be" Alias="Project-4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Project4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Project-4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0zhth0f/project-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>