<?xml version="1.0" encoding="utf-8"?>
<Media Key="696eb497-e0e6-47e0-8ec7-530214786fb6" Alias="Project-2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Project2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="Project-2.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/muenzc53/project-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>