<?xml version="1.0" encoding="utf-8"?>
<Media Key="11931e08-a912-48c6-b320-4881e4c3b30f" Alias="Project-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Project1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Project-1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5krdd2yj/project-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>