<?xml version="1.0" encoding="utf-8"?>
<Media Key="57d6f4a7-3dd1-43bc-a1f9-8c389d61a88b" Alias="Project-3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Project3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Project-3.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kvehjnok/project-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>