<?xml version="1.0" encoding="utf-8"?>
<Media Key="223f8e33-dc2d-45b2-aeb9-c7afb903c4a8" Alias="Risk-Management-large.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementLargesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T10:09:36</CreateDate>
    <NodeName Default="Risk-Management-large.svg" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yezj1qbw/risk-management-large.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>