<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ecda2d0-c7c2-461a-9b0a-4bb937a833c9" Alias="Risk-Management.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eiph55gz/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>