<?xml version="1.0" encoding="utf-8"?>
<Media Key="90979e69-4dc0-457e-8f08-d987be77c1b0" Alias="Signatures.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="Signatures.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tmrdk2w1/signatures.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>