<?xml version="1.0" encoding="utf-8"?>
<Media Key="5930bfcc-3756-4219-859c-f33c38245e38" Alias="StatisticAdvisors.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="StatisticAdvisors.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hybjfo0n/statisticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>