<?xml version="1.0" encoding="utf-8"?>
<Media Key="93deb0e8-e8a7-4623-a4f0-3ae972167f23" Alias="Story-video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StoryVideosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="Story-video.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dighy2n2/story-video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>