<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cde806c-c9b7-4fe6-b2b2-ff815e37a4b7" Alias="Symbol.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Symbolsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="Symbol.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ty4hzdvm/symbol.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>