<?xml version="1.0" encoding="utf-8"?>
<Media Key="af7fd901-5aae-40f9-ae32-61edc3571d0e" Alias="Tax&amp;Trusts.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:16</CreateDate>
    <NodeName Default="Tax&amp;Trusts.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4nsn0tnv/taxtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>