<?xml version="1.0" encoding="utf-8"?>
<Media Key="d43b60d5-88ca-427b-b1d4-2cf427c5cd1c" Alias="team-expert2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpert2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:15</CreateDate>
    <NodeName Default="team-expert2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e5ojsnwr/team-expert2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>