<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef12af22-3854-4869-bc4e-6b5f73d05f0c" Alias="team-expert-mini4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpertMini4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="team-expert-mini4.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ajladkp/team-expert-mini4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>