<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c450c84-28ef-4f54-950e-58966df5bec2" Alias="team-expert-mini1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpertMini1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="team-expert-mini1.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o0ypptxu/team-expert-mini1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>