<?xml version="1.0" encoding="utf-8"?>
<Media Key="241397a2-efbf-4f58-bfda-7f204ea08579" Alias="team-expert-mini3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpertMini3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="team-expert-mini3.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kavldrve/team-expert-mini3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>