<?xml version="1.0" encoding="utf-8"?>
<Media Key="55ca0b18-0f27-473d-9c89-caecc7f392cf" Alias="team-expert-mini2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpertMini2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:17</CreateDate>
    <NodeName Default="team-expert-mini2.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3k1grnz2/team-expert-mini2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>