<?xml version="1.0" encoding="utf-8"?>
<Media Key="59bb0658-2743-4f73-8271-47ab154685bf" Alias="team-expert1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpert1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:19</CreateDate>
    <NodeName Default="team-expert1.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vk3bto0y/team-expert1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>