<?xml version="1.0" encoding="utf-8"?>
<Media Key="09f9928e-c268-44c8-bb48-95942f112cd2" Alias="team-expert3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamExpert3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T09:39:18</CreateDate>
    <NodeName Default="team-expert3.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pqxfx01t/team-expert3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>