<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7996de2-23de-448e-bb22-ac65a999cd89" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="3f30ce87-fac6-49fe-973a-ec0916fd5692">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:45:08</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2574a40c-9f8c-4c5d-a732-645a03da8b40">ServiceDetail</Template>
  </Info>
  <Properties>
    <detailSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "key": "bd04e2a6-5d4f-42b5-8ec7-b4892a3e142d",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactGuy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "87c40d85-a6f8-4ef9-966f-df440a776e3f",
              "mediaKey": "475e5d2a-a031-4ed5-a34f-7aa664abf742",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd",
      "key": "13c08ea0-fdc3-493a-a5c1-f56e2d8d0e0b",
      "udi": null,
      "values": [
        {
          "alias": "showBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bd04e2a6-5d4f-42b5-8ec7-b4892a3e142d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bd04e2a6-5d4f-42b5-8ec7-b4892a3e142d",
        "contentUdi": null,
        "settingsKey": "13c08ea0-fdc3-493a-a5c1-f56e2d8d0e0b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </detailSection>
    <pagebannerTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pagebannerTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f54ade4-72a7-4e58-bd8f-ba1da83ef8d2",
      "key": "f9eb95ce-39fe-4749-9dcb-0677bad5e65b",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e9bf9c34-0b74-44d3-a7e9-4d329866f4b9",
              "mediaKey": "61aff118-855d-4106-99ef-9936c25fa473",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f9eb95ce-39fe-4749-9dcb-0677bad5e65b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f9eb95ce-39fe-4749-9dcb-0677bad5e65b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumb>
      <Value><![CDATA[[
  {
    "key": "b2a7834a-dcbe-430b-acf6-8443c0129a2d",
    "mediaKey": "61aff118-855d-4106-99ef-9936c25fa473",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumb>
  </Properties>
</Content>