<?xml version="1.0" encoding="utf-8"?>
<Content Key="b00ffe4a-0d39-4188-aeea-647205bd7d49" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f9a7e42a-214f-40bc-a5e3-0376a8711a9a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T13:16:26</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="643baabd-9d34-4386-8917-f1a54c118df5">ContactPage</Template>
  </Info>
  <Properties>
    <pagebannerTitle>
      <Value><![CDATA[Contact]]></Value>
    </pagebannerTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "key": "7c47d85d-3098-49e8-8c55-1178d729d034",
      "udi": null,
      "values": [
        {
          "alias": "contactGuy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "37201e9c-b706-4fd4-b99b-90f741516ca3",
              "mediaKey": "475e5d2a-a031-4ed5-a34f-7aa664abf742",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "c0f048f6-8c78-4327-bee2-b1646971729d",
      "key": "6d5b93b0-550a-4352-9b69-cd06123a44c5",
      "udi": null,
      "values": [
        {
          "alias": "partnerIcons",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "333694e0-bd1a-44b3-96e8-441c8e08d6c3",
      "key": "2506e3dd-6135-48a3-81dd-4b160a89a7d0",
      "udi": null,
      "values": [
        {
          "alias": "mapImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3bc79fc3-1467-43a0-882e-1622f7d7a41f",
              "mediaKey": "62f3355b-6a12-4734-aff7-148fadd8e002",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "mapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "mapSubTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "mapText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd",
      "key": "abea2469-d20f-4a3c-bae7-5d189eb6e940",
      "udi": null,
      "values": [
        {
          "alias": "showBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7c47d85d-3098-49e8-8c55-1178d729d034",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d5b93b0-550a-4352-9b69-cd06123a44c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2506e3dd-6135-48a3-81dd-4b160a89a7d0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7c47d85d-3098-49e8-8c55-1178d729d034",
        "contentUdi": null,
        "settingsKey": "abea2469-d20f-4a3c-bae7-5d189eb6e940",
        "settingsUdi": null
      },
      {
        "contentKey": "2506e3dd-6135-48a3-81dd-4b160a89a7d0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6d5b93b0-550a-4352-9b69-cd06123a44c5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>