<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c3e100d-7cdd-41f1-9903-c871f25a1e97" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="3f30ce87-fac6-49fe-973a-ec0916fd5692">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:24:22</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2574a40c-9f8c-4c5d-a732-645a03da8b40">ServiceDetail</Template>
  </Info>
  <Properties>
    <detailSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "key": "adec70d2-036c-409f-b6bb-708fefb9d40c",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactGuy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a1a9883e-974a-4d67-99f0-97f5d78548e7",
              "mediaKey": "475e5d2a-a031-4ed5-a34f-7aa664abf742",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd",
      "key": "4bb64f43-63d9-4303-bdf8-9026a133452e",
      "udi": null,
      "values": [
        {
          "alias": "showBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "adec70d2-036c-409f-b6bb-708fefb9d40c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "adec70d2-036c-409f-b6bb-708fefb9d40c",
        "contentUdi": null,
        "settingsKey": "4bb64f43-63d9-4303-bdf8-9026a133452e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </detailSection>
    <pagebannerTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pagebannerTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f54ade4-72a7-4e58-bd8f-ba1da83ef8d2",
      "key": "e252512e-3587-4fe4-89a5-b03fcb1d3f47",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "15b9b8fe-f822-4480-8c12-6fbbc0a6c3aa",
              "mediaKey": "1d3ca9f5-bc22-440c-ba1a-fc417c1b40b5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e252512e-3587-4fe4-89a5-b03fcb1d3f47",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e252512e-3587-4fe4-89a5-b03fcb1d3f47",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumb>
      <Value><![CDATA[[
  {
    "key": "0e8b76ed-4978-4ce5-9c26-0bb2de74dd60",
    "mediaKey": "1d3ca9f5-bc22-440c-ba1a-fc417c1b40b5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumb>
  </Properties>
</Content>