<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c3e100d-7cdd-41f1-9903-c871f25a1e97" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="3f30ce87-fac6-49fe-973a-ec0916fd5692">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:24:22</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2574a40c-9f8c-4c5d-a732-645a03da8b40">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumb>
      <Value><![CDATA[[
  {
    "key": "0e8b76ed-4978-4ce5-9c26-0bb2de74dd60",
    "mediaKey": "1d3ca9f5-bc22-440c-ba1a-fc417c1b40b5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumb>
  </Properties>
</Content>