<?xml version="1.0" encoding="utf-8"?>
<Content Key="2be7bcba-5ddc-4519-a8ec-57c35a929a0c" Alias="Fossil" Level="3">
  <Info>
    <Parent Key="b00ffe4a-0d39-4188-aeea-647205bd7d49">Contact</Parent>
    <Path>/Home/Contact/Fossil</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerDetail</ContentType>
    <CreateDate>2025-10-24T12:04:09</CreateDate>
    <NodeName Default="Fossil" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d990adf-d592-4188-b01d-469aba56860e">PartnerDetail</Template>
  </Info>
  <Properties>
    <partnerdetailThumb>
      <Value><![CDATA[[
  {
    "key": "54deccc4-4f5a-4139-b2fa-5c05f199dd2b",
    "mediaKey": "bf5e442f-daa6-49f7-87a4-c5c851848aff",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerdetailThumb>
  </Properties>
</Content>