<?xml version="1.0" encoding="utf-8"?>
<Content Key="042405a8-c593-4654-aca0-3dd77fa6f566" Alias="Freedombird" Level="3">
  <Info>
    <Parent Key="b00ffe4a-0d39-4188-aeea-647205bd7d49">Contact</Parent>
    <Path>/Home/Contact/Freedombird</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerDetail</ContentType>
    <CreateDate>2025-10-24T12:12:50</CreateDate>
    <NodeName Default="Freedombird" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d990adf-d592-4188-b01d-469aba56860e">PartnerDetail</Template>
  </Info>
  <Properties>
    <partnerdetailThumb>
      <Value><![CDATA[[
  {
    "key": "ff5d86e6-1373-4987-acce-d16ae34a46ca",
    "mediaKey": "d5bc1e4c-74a0-4c5b-94b4-42fa35363dc8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerdetailThumb>
  </Properties>
</Content>