<?xml version="1.0" encoding="utf-8"?>
<Content Key="be34d96e-e311-4f02-938d-a2aefa87c9fd" Alias="Globe" Level="3">
  <Info>
    <Parent Key="b00ffe4a-0d39-4188-aeea-647205bd7d49">Contact</Parent>
    <Path>/Home/Contact/Globe</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerDetail</ContentType>
    <CreateDate>2025-10-24T12:12:25</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d990adf-d592-4188-b01d-469aba56860e">PartnerDetail</Template>
  </Info>
  <Properties>
    <partnerdetailThumb>
      <Value><![CDATA[[
  {
    "key": "f86b925b-7fd7-4c01-9d66-f5f33f539a30",
    "mediaKey": "e820bf97-a8e9-4752-a187-c9ed1e044359",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerdetailThumb>
  </Properties>
</Content>