<?xml version="1.0" encoding="utf-8"?>
<Content Key="342cc4a1-80ca-417b-8298-59567e3896a5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-22T09:40:39</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5db31165-6591-44de-ba1c-2c464c0287aa">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc6dcf4f-3a88-4894-8cd9-b49f58080097",
      "key": "b6bdc50b-896f-49a7-b172-a54f73d93e86",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe bring\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Esuccess to you\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ae4e1b98-ec9e-42ec-b8d9-58744d194946",
              "mediaKey": "3c9a556c-d053-4fc0-b3fc-e28871d8ef8a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8ee5db4e-9917-46e6-8231-7b1cb9b3c99e",
      "key": "bd022f62-aa44-4980-ac48-265939e690de",
      "udi": null,
      "values": [
        {
          "alias": "navbarIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "780db2f6-de33-4015-891a-1106b558ea76",
              "mediaKey": "290cbb46-4f93-4eea-8b5d-e26ffe1dbb49",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "navlinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About",
              "target": null,
              "udi": "umb://document/b7b4d5f445524f8dbbb52c86f2f752ba",
              "url": null,
              "queryString": null
            },
            {
              "name": "Services",
              "target": null,
              "udi": "umb://document/3f30ce87fac649fe973aec0916fd5692",
              "url": null,
              "queryString": null
            },
            {
              "name": "Contact",
              "target": null,
              "udi": "umb://document/b00ffe4a0d394188aeea647205bd7d49",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "414c84f8-bdb7-406f-bf13-b94d46a1f8e1",
      "key": "df9eba84-54e1-4eec-bff3-e6071d0f04bb",
      "udi": null,
      "values": [
        {
          "alias": "ceoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f40fe8a0-b8c0-4469-849d-45ce7784dcd0",
              "mediaKey": "90979e69-4dc0-457e-8f08-d987be77c1b0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "875c8e7f-72dd-4925-bc90-9d9d54eb0bc4",
      "key": "f2ac0dbc-9df9-45ff-82a4-d1a4573a6479",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "7389e70f-dfaf-48a9-b713-1a3750a69855",
      "key": "f18eb005-3cbb-41ca-adcd-fed8b74d4672",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "clientsText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "clientsImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cda032ed-1974-47f0-b3aa-49e7e62b29a9",
              "mediaKey": "283ea3dd-e777-45a5-a036-1236ad08e8ed",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "clientsBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "01e900dd-b5be-435c-9e89-495a9407ab6d",
              "mediaKey": "222287eb-bea3-4ebd-b4f1-cfd515204ce2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f66dcda2-fb27-4cd5-b513-da1fbf605fe7",
      "key": "3ec21872-ead2-480d-a736-644228516b04",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "storyImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6562dc7a-7b7b-432b-869a-cd1b0e3f10b7",
              "mediaKey": "93deb0e8-e8a7-4623-a4f0-3ae972167f23",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "numbers",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "storyBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6145256f-eca7-434d-83ed-afaa612d0418",
              "mediaKey": "e54b9957-386b-49cb-b40e-1ed1946b0665",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c0f048f6-8c78-4327-bee2-b1646971729d",
      "key": "22af1b91-d618-4b36-b388-34d3e8257803",
      "udi": null,
      "values": [
        {
          "alias": "partnerIcons",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ad8db2ea-aa01-4663-973d-df7cf358ad47",
              "mediaKey": "bf5e442f-daa6-49f7-87a4-c5c851848aff",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "22f823ac-f9dc-478f-bacc-e2d15c2bf70c",
              "mediaKey": "c98470e2-0a25-454c-be85-e3cb56f41e2f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b6bdc50b-896f-49a7-b172-a54f73d93e86",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bd022f62-aa44-4980-ac48-265939e690de",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df9eba84-54e1-4eec-bff3-e6071d0f04bb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f2ac0dbc-9df9-45ff-82a4-d1a4573a6479",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f18eb005-3cbb-41ca-adcd-fed8b74d4672",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3ec21872-ead2-480d-a736-644228516b04",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "22af1b91-d618-4b36-b388-34d3e8257803",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bd022f62-aa44-4980-ac48-265939e690de",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b6bdc50b-896f-49a7-b172-a54f73d93e86",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "df9eba84-54e1-4eec-bff3-e6071d0f04bb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f2ac0dbc-9df9-45ff-82a4-d1a4573a6479",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f18eb005-3cbb-41ca-adcd-fed8b74d4672",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3ec21872-ead2-480d-a736-644228516b04",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "22af1b91-d618-4b36-b388-34d3e8257803",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>