<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9a7e42a-214f-40bc-a5e3-0376a8711a9a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-23T16:13:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5db31165-6591-44de-ba1c-2c464c0287aa">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc6dcf4f-3a88-4894-8cd9-b49f58080097",
      "key": "54e3e9ad-8f86-467f-aa49-57a98a7c2897",
      "udi": null,
      "values": [
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/b00ffe4a0d394188aeea647205bd7d49",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe bring\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Esuccess to you\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b74e7fd6-0746-4b81-9fb6-45f2902ab7cd",
              "mediaKey": "3c9a556c-d053-4fc0-b3fc-e28871d8ef8a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "414c84f8-bdb7-406f-bf13-b94d46a1f8e1",
      "key": "52e5d811-cb3f-4d65-a289-1419e73e02ff",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutParagraph",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutParagraph2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "ceoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6f7d1660-c12d-4edb-83ab-c84a9b09e6b2",
              "mediaKey": "90979e69-4dc0-457e-8f08-d987be77c1b0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "founder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "875c8e7f-72dd-4925-bc90-9d9d54eb0bc4",
      "key": "d67433bc-caed-4251-9207-c4857fe2ea6b",
      "udi": null,
      "values": [
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        }
      ]
    },
    {
      "contentTypeKey": "7389e70f-dfaf-48a9-b713-1a3750a69855",
      "key": "5f9cbba0-0b3c-4a81-b3ba-7a316c8306db",
      "udi": null,
      "values": [
        {
          "alias": "clientsLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/b7b4d5f445524f8dbbb52c86f2f752ba",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "clientsText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "clientsImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3329140d-3b40-4c6f-ad36-c9323b1d34dd",
              "mediaKey": "283ea3dd-e777-45a5-a036-1236ad08e8ed",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "clientsBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3aa0d802-da49-4ff6-90f0-e755e01555a8",
              "mediaKey": "222287eb-bea3-4ebd-b4f1-cfd515204ce2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f66dcda2-fb27-4cd5-b513-da1fbf605fe7",
      "key": "691c4563-e1df-4aa3-88ba-0a81672ce98a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "storyImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "67e31ac7-ad52-4bf0-a76d-afaaf719af4e",
              "mediaKey": "93deb0e8-e8a7-4623-a4f0-3ae972167f23",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storyBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "311e2e1a-68c9-400c-9889-3c430eeb449d",
              "mediaKey": "e54b9957-386b-49cb-b40e-1ed1946b0665",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c0f048f6-8c78-4327-bee2-b1646971729d",
      "key": "7548c883-a654-436e-8a7b-bae10a291e90",
      "udi": null,
      "values": [
        {
          "alias": "partnerIcons",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "54652b06-1109-49b6-858a-25ca258d0156",
      "key": "ab92f145-af40-4022-a953-ad88f2cd2040",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "54e3e9ad-8f86-467f-aa49-57a98a7c2897",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "52e5d811-cb3f-4d65-a289-1419e73e02ff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d67433bc-caed-4251-9207-c4857fe2ea6b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5f9cbba0-0b3c-4a81-b3ba-7a316c8306db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "691c4563-e1df-4aa3-88ba-0a81672ce98a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7548c883-a654-436e-8a7b-bae10a291e90",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "54e3e9ad-8f86-467f-aa49-57a98a7c2897",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "52e5d811-cb3f-4d65-a289-1419e73e02ff",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d67433bc-caed-4251-9207-c4857fe2ea6b",
        "contentUdi": null,
        "settingsKey": "ab92f145-af40-4022-a953-ad88f2cd2040",
        "settingsUdi": null
      },
      {
        "contentKey": "5f9cbba0-0b3c-4a81-b3ba-7a316c8306db",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "691c4563-e1df-4aa3-88ba-0a81672ce98a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7548c883-a654-436e-8a7b-bae10a291e90",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>