<?xml version="1.0" encoding="utf-8"?>
<Content Key="565dc7ad-dc97-4161-b334-661c718ae8f9" Alias="Natural" Level="3">
  <Info>
    <Parent Key="b00ffe4a-0d39-4188-aeea-647205bd7d49">Contact</Parent>
    <Path>/Home/Contact/Natural</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerDetail</ContentType>
    <CreateDate>2025-10-24T12:13:27</CreateDate>
    <NodeName Default="Natural" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d990adf-d592-4188-b01d-469aba56860e">PartnerDetail</Template>
  </Info>
  <Properties>
    <partnerdetailThumb>
      <Value><![CDATA[[
  {
    "key": "486b153b-aaa9-4751-8e2b-16357108ac0b",
    "mediaKey": "2598b46e-49a1-42f9-bbce-8ee699320b40",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerdetailThumb>
  </Properties>
</Content>