<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2b98eef-5234-4623-ba1e-7a8c12eb81f3" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="3f30ce87-fac6-49fe-973a-ec0916fd5692">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T08:37:05</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2574a40c-9f8c-4c5d-a732-645a03da8b40">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumb>
      <Value><![CDATA[[
  {
    "key": "abd30e05-087f-4f0e-8384-546356f15690",
    "mediaKey": "1ecda2d0-c7c2-461a-9b0a-4bb937a833c9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumb>
  </Properties>
</Content>