<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f30ce87-fac6-49fe-973a-ec0916fd5692" Alias="Services" Level="2">
  <Info>
    <Parent Key="f9a7e42a-214f-40bc-a5e3-0376a8711a9a">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-10-22T13:00:55</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="079ec8e3-9e08-43bb-b16b-e1b4cf7971f1">ServicesPage</Template>
  </Info>
  <Properties>
    <pagebannerTitle>
      <Value><![CDATA[Services]]></Value>
    </pagebannerTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "875c8e7f-72dd-4925-bc90-9d9d54eb0bc4",
      "key": "f3d24b98-8923-40da-ad91-b14bd8010bfc",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions To Grow Your Business Faster"
        }
      ]
    },
    {
      "contentTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "key": "a04469c6-1c34-44e1-8184-88c8fa186ff4",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactGuy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7c4dff17-37be-42c1-b103-980434386e57",
              "mediaKey": "475e5d2a-a031-4ed5-a34f-7aa664abf742",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "54652b06-1109-49b6-858a-25ca258d0156",
      "key": "7a6fc2c0-540b-425b-a3b0-8b9be093eff8",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd",
      "key": "4362addd-9758-4422-b65c-064cfd8138a5",
      "udi": null,
      "values": [
        {
          "alias": "showBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f3d24b98-8923-40da-ad91-b14bd8010bfc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a04469c6-1c34-44e1-8184-88c8fa186ff4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f3d24b98-8923-40da-ad91-b14bd8010bfc",
        "contentUdi": null,
        "settingsKey": "7a6fc2c0-540b-425b-a3b0-8b9be093eff8",
        "settingsUdi": null
      },
      {
        "contentKey": "a04469c6-1c34-44e1-8184-88c8fa186ff4",
        "contentUdi": null,
        "settingsKey": "4362addd-9758-4422-b65c-064cfd8138a5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>