<?xml version="1.0" encoding="utf-8"?>
<Content Key="927ae099-78e7-4c56-9676-021c96ef057d" Alias="Simpleaf" Level="3">
  <Info>
    <Parent Key="b00ffe4a-0d39-4188-aeea-647205bd7d49">Contact</Parent>
    <Path>/Home/Contact/Simpleaf</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerDetail</ContentType>
    <CreateDate>2025-10-24T12:14:01</CreateDate>
    <NodeName Default="Simpleaf" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d990adf-d592-4188-b01d-469aba56860e">PartnerDetail</Template>
  </Info>
  <Properties>
    <partnerdetailThumb>
      <Value><![CDATA[[
  {
    "key": "39db63c1-b3f9-4d6e-b970-de92b49b565a",
    "mediaKey": "122e6582-5f6d-4de8-a7cc-c561b6d10886",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerdetailThumb>
  </Properties>
</Content>