<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b03eead-6d86-48f4-94fc-61b8db2fd943" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-24T11:28:31</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbImg>
      <Value><![CDATA[[
  {
    "key": "e79b3904-5187-4bf3-88f1-a2b761358f1a",
    "mediaKey": "756411b2-4bd9-4432-a0d5-6cd62d56a45a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbImg>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactMail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactMail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "029b1cb8-aa41-477d-b232-038a94bcb30d",
    "mediaKey": "290cbb46-4f93-4eea-8b5d-e26ffe1dbb49",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>