<?xml version="1.0" encoding="utf-8"?>
<Content Key="e713cdd8-fa6e-49b2-a827-cb5dc8ec56fd" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="3f30ce87-fac6-49fe-973a-ec0916fd5692">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:02:22</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2574a40c-9f8c-4c5d-a732-645a03da8b40">ServiceDetail</Template>
  </Info>
  <Properties>
    <detailSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "key": "18e9defd-bc9b-4b02-917b-c8890ca65bbb",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactGuy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cc187c21-b28c-431d-9de8-c215e2dbd721",
              "mediaKey": "475e5d2a-a031-4ed5-a34f-7aa664abf742",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd",
      "key": "77e75612-9b2b-451e-a558-c46ef48a0ad0",
      "udi": null,
      "values": [
        {
          "alias": "showBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "18e9defd-bc9b-4b02-917b-c8890ca65bbb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "18e9defd-bc9b-4b02-917b-c8890ca65bbb",
        "contentUdi": null,
        "settingsKey": "77e75612-9b2b-451e-a558-c46ef48a0ad0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </detailSection>
    <pagebannerTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pagebannerTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f54ade4-72a7-4e58-bd8f-ba1da83ef8d2",
      "key": "8d55286b-64a0-4b92-ac2d-bba6aa834139",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5df6f545-3ca2-4c7e-b791-81e870a0811f",
              "mediaKey": "5930bfcc-3756-4219-859c-f33c38245e38",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8d55286b-64a0-4b92-ac2d-bba6aa834139",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8d55286b-64a0-4b92-ac2d-bba6aa834139",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumb>
      <Value><![CDATA[[
  {
    "key": "8fabeb78-eacc-42b4-9eae-65bea621efc6",
    "mediaKey": "5930bfcc-3756-4219-859c-f33c38245e38",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumb>
  </Properties>
</Content>