<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f2e1651-6d8a-4c36-841f-5e0aa0a26cbc" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="3f30ce87-fac6-49fe-973a-ec0916fd5692">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:29:08</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2574a40c-9f8c-4c5d-a732-645a03da8b40">ServiceDetail</Template>
  </Info>
  <Properties>
    <detailSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4f5cf60c-8e24-4cd8-947c-ccbcf18fa5d9",
      "key": "2d86d3cb-e116-453e-8c5b-a1dd216b4296",
      "udi": null,
      "values": [
        {
          "alias": "contactGuy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a010138e-62f2-4eba-a1dd-043243c48726",
              "mediaKey": "475e5d2a-a031-4ed5-a34f-7aa664abf742",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "204f1335-5fa8-486b-b755-1ca8df9b89bd",
      "key": "f88ebcb2-6285-4e4b-a64f-884d4576e4e7",
      "udi": null,
      "values": [
        {
          "alias": "showBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2d86d3cb-e116-453e-8c5b-a1dd216b4296",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2d86d3cb-e116-453e-8c5b-a1dd216b4296",
        "contentUdi": null,
        "settingsKey": "f88ebcb2-6285-4e4b-a64f-884d4576e4e7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </detailSection>
    <pagebannerTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pagebannerTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f54ade4-72a7-4e58-bd8f-ba1da83ef8d2",
      "key": "99ad7980-cdc2-44fd-b7b3-8253a47ab72a",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8e2b101a-218f-4662-b430-fe74d09ba184",
              "mediaKey": "af7fd901-5aae-40f9-ae32-61edc3571d0e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "99ad7980-cdc2-44fd-b7b3-8253a47ab72a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "99ad7980-cdc2-44fd-b7b3-8253a47ab72a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumb>
      <Value><![CDATA[[
  {
    "key": "0404749e-93bd-4a65-a377-a148b46d1760",
    "mediaKey": "af7fd901-5aae-40f9-ae32-61edc3571d0e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumb>
  </Properties>
</Content>