@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="footer-box">
    <div class="container">
        © Onatrix. All Rights Reserved. Credits to
        <span class="text-footer2">Themesflat</span>
    </div>
</footer>