@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.InfoCard)Model.Content;
}


<div class="aside-card">
    
        <h5>@content.InfoTitle</h5>
        <img class="card-img" src="@content.InfoImg?.Url()" />
        <p class="card-text">@content.InfoText</p>

        <div class="mail-box">
            <h5>How can we help you?</h5>
            <p>online support 24/7, we are here to help you</p>
            <form class="form-input">
                <label for="E-Mail"></label>
                <input class="email-box-input"
                       type="text"
                       id="name"
                       name="name"
                       placeholder="E-mail address" />
            <i class="fa-regular fa-envelope input-box"></i>
            </form>
        <i class="fa-regular fa-envelope bg-icon"></i>
        </div>
</div>